body,
html {
  height: 100%;
  margin: 0;
  color: #19345e;
}

.gathering {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 1500px) {
  .gathering {
    flex-direction: column;
  }
}

.navColor {
  color: #19345e;
}

.bgImage {
  background-image: url("../../asset/img/bg-img.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font700 {
  font-weight: 700;
}

.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.color-orange {
  color: #f47522;
}

.btn-orange {
  color: #fff;
  background-color: #f47522;
  border-color: #f47522;
}

.border {
  border-radius: 200px;
}

.fontSetting {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 100px;
}
