@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: #19345e;
}

@media screen and (max-width: 1500px) {
  .gathering {
    flex-direction: column;
  }
}

.background {
  background: linear-gradient(rgba(25, 52, 94, 0.65), rgba(25, 52, 94, 0.65)),
    url("asset/img/charles-rRWiVQzLm7k-unsplash.jpg");
  height: auto;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  background-size: 100vh;
}

#bgColor {
  background-color: rgba(25, 52, 94, 0.65);
}

/* .full {
    max-width: 100%;
    max-height: 100%;
  } */

.gathering {
  display: flex;
  flex-direction: row;
}

.btn-orange {
  color: #fff;
  background-color: #f47522;
  border-color: #f47522;
}

.red {
  color: red;
}

.border {
  border-radius: 200px;
}
