.font {
  font-family: "Roboto", sans-serif;
  color: #19345e;
}

@media screen and (max-width: 1500px) {
  .gathering {
    flex-direction: column;
  }
}

.bgImage {
  background: url("img/charles-rRWiVQzLm7k-unsplash.jpg");
  height: auto;
  background-size: 100%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  background-size: 100vh;
}

#bgColor {
  background-color: rgba(25, 52, 94, 0.65);
}

/* .full {
  max-width: 100%;
  max-height: 100%;
} */

.gathering {
  display: flex;
  flex-direction: row;
}

.buttonSubmit {
  background-color: #f47522;
  border-radius: 100px;
}

.red {
  color: red;
}
