@media screen and (max-width: 1500px) {
  .background {
    width: 100vw;
    margin-top: auto;
  }
}

.background {
  background: linear-gradient(rgba(25, 52, 94, 0.65), rgba(25, 52, 94, 0.65)),
    url("../../asset/img/charles-rRWiVQzLm7k-unsplash.jpg");
  width: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  background-size: 100vh;
}

.btn-orange {
  color: #fff;
  background-color: #f47522;
  border-color: #f47522;
}

.red {
  color: red;
}

.border {
  border-radius: 200px;
}
